<!DOCTYPE html>
<html>
    <head>
        <title>
            Details Page
        </title>
    </head>
    <body>
        <p>This is page is for Details of User.</p>

         <form action="/userDetails" method="POST">
                      
            <h1> Signup form </h1>
                         
            <input class="box" type="email" name="email" id="email" 
            placeholder="E-Mail " required /><br>
                              
            <input class="box" type="text" name="token" 
            id="token" placeholder="token" required/><br>
                              
            <br>
            <input type="submit" id="submitDetails"  
            name="submitDetails" value="Submit" /><br>
                      
            </form>

    </body>
</html>