<!DOCTYPE html>
<html>
    <head>
        <title>
            Login Page
        </title>
    </head>
    <body>
        <p>This is page is for Login.</p>

         <form action="/login" method="POST">
                      
            <h1> Signup form </h1>
                         
            <input class="box" type="email" name="email" id="email" 
            placeholder="E-Mail " required /><br>
                              
            <input class="box" type="password" name="password" 
            id="password" placeholder="Password " required/><br>
                              
            <br>
            <input type="submit" id="submitDetails"  
            name="submitDetails" value="Submit" /><br>
                      
            </form>

    </body>
</html>